extends ../layouts/layout.pug

block nav-var
    - var name = "recipes"

block content
    .container
        header
            h1 All Recipes
            p All your recipes in one place
        .row
            each val in ['Recipe 1', 'Recipe 2', 'Recipe 3', 'Recipe 4']
                a(href="#").col-lg.m-1
                    .card
                        p.p-1
                            strong= val