extends ./layouts/layout.pug

block content
    header
        .jumbotron.jumbotron-fluid
            .container
                h1.display-4 Plan your week
                p With our easy to use meal planner!